/* GLOBAL **********************************/

/* palette
  grey #212121
  red #8f0000
  blue #004666
  green #005532
*/

:root {
  --main-bg: #005532;
  --design: #212121;
  --development: #313131;
  --about: #212121;
  --font: #d1d1d1;
}

body {
    display: block;
    margin: 0;
    background-color: var(--main-bg);
    color: var(--font);
}
 
#title {
     margin-top: 30px;
     margin-bottom: 30px;
}
 
.pageHeader {
     display: block;
     font-family: 'Oswald', sans-serif;
     font-size: 8em;
     text-align: center;
     letter-spacing: .30em;
     margin: 0;
}
 
.subHeader {
     display: block;
     font-family: 'Oswald', sans-serif;
     font-size: 2em;
     text-align: center;
     letter-spacing: .35em;
     margin: 0;
}
 
.section {
     width: 100%;
     padding: 3em 0 3em 0;
}
 
.sectionHeader {
     font-family: 'Oswald', sans-serif;
     font-size: 5em;
     text-align: center;
     letter-spacing: .20em;
     margin: 0;
}

h4 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

h5 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 1.6em;
  margin: 0;
  text-align: center;
}

P {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 1em;
  margin: 0;
  text-align: center;
}
 

 /* DESIGN *********************************/
#design {
  background-color: var(--design);
  overflow: auto;
}

#galleryContainer {
  padding-top: 7vh;
  padding-bottom: 10vh;
}

.gallery {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.gallery div {
  position: relative;
  float: left;
  padding: 1%;
  width: 23%;
}

.gallery div img {
  display: block;
  max-width: 100%;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery div:hover {
  z-index: 1;
}

.gallery div:hover img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}
 
 /* DEVELOPMENT ****************************/
#development {
     background-color: var(--development);
     overflow: auto;
}

#devLeft {
  width: 49%;
  float: left;
  height: 60vh;
}

#swatch {
  padding-top: 3vh;
}

#generatedSwatch {
  margin: 0 auto;
  height: 30vh;
  width: 30vh;
  background-color: #fff;
}

#swatchControls {
  width: 30vh;
  margin: 0 auto;
}

.swatchBtn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  background: #474747;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  border: none;
  width: 47%;
  margin: 1%;
}

.swatchBtn:hover {
  background: #212121;
  text-decoration: none;
}

#devRight {
  width: 49%;
  float: right;
  height: 60vh;
}

#projects {
  padding-top: 3vh;
}

/* ABOUT **********************************/
#about {
  background-color: var(--about);
}
 
 
 /* SCROLL BAR *****************************/
 
::-webkit-scrollbar {
   width: 9px;
   height: 9px;
}

::-webkit-scrollbar-button {
   width: 0px;
   height: 0px;
}

::-webkit-scrollbar-thumb {
   background: #d1d1d1;
}

::-webkit-scrollbar-thumb:hover {
   background: #005532;
}

 ::-webkit-scrollbar-thumb:active {
   background: #005532;
}

::-webkit-scrollbar-track {
   background: #212121;
}

::-webkit-scrollbar-track:hover {
   background: #212121;
}

::-webkit-scrollbar-track:active {
   background: #212121;
}

::-webkit-scrollbar-corner {
   background: transparent;
}
 
 