 /* GLOBAL **********************************/
body {
    display: block;
    margin: 0;
    background-color: #212121;
    color: #a1a1a1;
 }
 
 #title {
     margin-top: 30px;
     margin-bottom: 30px;
 }
 
 .pageHeader {
     display: block;
     font-family: 'Oswald', sans-serif;
     font-size: 8em;
     text-align: center;
     letter-spacing: .30em;
     margin: 0;
 }
 
 .subHeader {
     display: block;
     font-family: 'Oswald', sans-serif;
     font-size: 2em;
     text-align: center;
     letter-spacing: .35em;
     margin: 0;
 }
 
 .section {
     width: 100%;
     padding: 3em 0 3em 0;
 }
 
 .sectionHeader {
     font-family: 'Oswald', sans-serif;
     font-size: 5em;
     text-align: center;
     letter-spacing: .20em;
     margin: 0;
 }
 
 /* ABOUT **********************************/
 #about {
     background-color: #005532;
 }
 
 /* DESIGN *********************************/
 #design {
     background-color: #8f0000;
     overflow: auto;
 }
#galleryContainer {
  padding-top: 7vh;
  padding-bottom: 7vh;
}
 .gallery {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.gallery div {
  position: relative;
  float: left;
  padding: 1%;
  width: 23%;
}

.gallery div img {
  display: block;
  max-width: 100%;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery div:hover {
  z-index: 1;
}

.gallery div:hover img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}
 
 /* DEVELOPMENT ****************************/
 #development {
     background-color: #004666;
 }
 
 
 /* SCROLL BAR *****************************/
 
 ::-webkit-scrollbar {
   width: 9px;
   height: 9px;
 }
 ::-webkit-scrollbar-button {
   width: 0px;
   height: 0px;
 }
 ::-webkit-scrollbar-thumb {
   background: #a1a1a1;
 }
 ::-webkit-scrollbar-thumb:hover {
   background: #005532;
 }
 ::-webkit-scrollbar-thumb:active {
   background: #005532;
 }
 ::-webkit-scrollbar-track {
   background: #212121;
 }
 ::-webkit-scrollbar-track:hover {
   background: #212121;
 }
 ::-webkit-scrollbar-track:active {
   background: #212121;
 }
 ::-webkit-scrollbar-corner {
   background: transparent;
 }
 
 